

.sayan {
/*    width: 150px;
    height: 150px;*/
    /*background-color: #fff;*/

    box-shadow: 0px 0px 40px 20px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}
.lego-stats-grid {

  display: grid;
  grid-column: 1 / span 2;
  padding: 16px;
   grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;

}


.minifigure-wrapper {
      grid-row: span 2;
   
    margin: auto;
}

  @media only screen and (min-width: 700px) and (min-height: 500px) {
    .minifigure-wrapper {
       transform: scale(1.5);
    }

    .lego-stats-grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-column: span 1;
      padding: 32px;
      max-width: 400px;
    }


    .stat-wrapper {
        font-size: 20px;
    }
  }  

.stat-wrapper {
 
  /*width: 174px;*/

    display: flex;
    justify-content: space-between;
    /*margin: auto;*/
}


.textIn {
    opacity: 1;
    animation: zoomInDown .75s ease-in-out ;
    animation-fill-mode: forwards;
}

.textOut {
  animation: ;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
     transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.opacity-transition {
  transition: opacity 600ms cubic-bezier(0,0,0,1.25);
}

.lego-page {

    padding-top: 64px;

}

.lego-info-wrapper {
display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(164px, 238fr));*/
    grid-template-columns: 1fr 1fr;
}

.new-character-btn {
  position: fixed;
  bottom: 0;
  left: 0;
}





.minifigure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 178px;
    transition: transform 400ms cubic-bezier(0,0,0,1.25);
    margin-bottom: -32px;
}



/* Head */

.hairs  {
  transition: transform 400ms ;
}

.head {
 transition: transform 400ms cubic-bezier(0,0,0,1.25);
  z-index: 3;
position: relative;
}


.hair-wrap {
  overflow: hidden;

  width: 239px;
  position: absolute;
    transform: translate(-29%, -118%);
  z-index: 1;
}

.hair-styles {
  display:    flex;
  transition: transform 400ms cubic-bezier(0,0,0,1.25);
  height: 200px;
}

.hair-style {
  position: relative;
  flex: 1 0 100%;
  filter: drop-shadow(0px 1px 1px black);
}



.faces-wrap {

  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 100px;
  filter:  brightness(78%);

}



.faces {
  display: flex;
  transition: transform 400ms cubic-bezier(0,0,0,1.25);
}


.face {
  position: relative;
  flex: 1 0 100%;
      /*filter: brightness();*/
}

.bodies-wrap {

  overflow: hidden;
margin: -88px 0px -93px;
  width: 295px;
  top: 167px;
  z-index: 1;
}



.bodies {
  display: flex;
  transition: transform 400ms ;
  /*transition: transform 400ms cubic-bezier(0,0,0,1);*/
  height: 224px;
      margin-left: 6px;
}


.body {
  position: relative;
  flex: 1 0 100%;
      /*filter: brightness(0.8);*/
}

.lower {
 /*transition: transform 400ms cubic-bezier(0,0,0,1.5);*/
}

.legs-wrap {

    overflow: hidden;
/*transition: opacity 2s cubic-bezier(0,0,0,1.25);*/
    width: 139px;
    z-index: 0;
}



.legs {
  display: flex;
   transition: transform 400ms cubic-bezier(0,0,0,1.25);
}


.leg {
  position: relative;
  flex: 1 0 100%;
  height: 200px;
      /*filter: brightness(0.8);*/
}



.btn:disabled {
  background-color: lightgrey;
}



.controls {
  width: 100%;
  max-width: 400px;
  /*padding: 8px;*/
  color: #333;
  text-transform: uppercase;
  background-color: rgba(220,220,220,0.5);
}

.controls .title {
  margin-bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.25em;
  letter-spacing: 0.03125em;
}

.button {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.25rem 0;
  color: #666;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #000;
  border-color: #ccc;
}

.button:active {
  background-color: #ddd;
}

.controls fieldset {
  border: none;
  margin: 1rem 0;
}


.controls label {
  display: block;
  font-size: x-small;
  letter-spacing: 0.0625em;
}

.controls input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  position: relative;
  width: 100%;
  height: 2em;
  padding: 0.375em;
  margin: 0.25rem 0 1rem;
  color: inherit;
  background-color: currentColor;
  border-radius: 1em;
  outline: none;
}

.controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  position: relative;
  z-index: 10;
  width: 1.5em;
  height: 1.5em;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
}

.controls input[type="range"]::-moz-range-thumb {
  position: relative;
  z-index: 10;
  width: 1.5em;
  height: 1.5em;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.controls input[type="range"]::-moz-range-track {
  background-color: transparent;
}
