
/*to update font-sixe of links in app drawer*/
.MuiTypography-body1 {
	font-size: 32px !important;
	color: #61dafb;
  animation: glow 1s ease-in-out infinite alternate;
}


@keyframes glow {
  from {
    text-shadow: 2px 2px 1px #e442fc;
  }
  to {
    text-shadow: 2px 2px 5px #e442fc;
  }
}

@media screen and (min-width:768px) { 

  .MuiTypography-body1 {
    font-size: 48px !important;

  }
}





