
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html {
  --app-primary-color:    #61dafb ;
  --app-accent-color:    #e442fc;
}
#app {
  font-size: 16px;
  background-color: black;
  min-height: 100vh;
}

p {
  margin: 0;
  color: white;
}

div {
  color: white;
}
ul {
  padding-left: 8px;
}

.app-shell-loading {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  height:           256px;
}

.btn {
  background-color: var(--app-primary-color);
  text-decoration: none;
  margin: 16px;
  color: #FFF;
  padding: 12px;
  min-width: 120px;
  border-radius: 8px;


  border-color: transparent;
}

.content {
  padding:      64px 16px;
  margin:       auto;
  max-width:    600px;
}

.error-txt {
  color: red;
}

.home-page {
  max-width:    800px;
  /*padding-top:  54px;*/
  margin:       auto;
  transition:   transform .6s cubic-bezier(0,0,0,1.25);
  background-color: black;
  color: white;
}



#lottie-wrapper {
   position: absolute;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-animation-wrapper {
  position: relative;

}




.img-wrapper {
  /*display:         flex;*/
  padding-top:    64px;
  min-height:      340px;
/*  justify-content: center;
  align-items:     center;*/

}

.home-page-img {
  position: relative;
  width: 100%;
  max-height:   400px;


}

.home-translate {
  transition: transform .6s cubic-bezier(0,0,0,1.25);
  transform: translateY(-60px);
}

a {
  color: var(--app-primary-color);
   text-shadow: 3px 2px 2px #e442fc;
  text-decoration: none;
}



@media screen and (min-width:768px) {
  p, li {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }

  input, button {
    font-size: 18px;
  }

  .home-page {
    padding: 64px 0px 128px;
  }
  
  .home-grid {
  /*  display: grid; 
     grid-template-columns: 1fr 1fr;
     padding: 64px;*/
  }

  .home-main-txt {
    padding: 64px 16px 16px;
  }

  .home-translate {
    transform: translateY(-256px);
  }

  .img-wrapper {
    /*padding-bottom: 64px;*/
  }

}